<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889759666168-911s1afh1bslps3p90cm3j9au54l0crd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889759666168-911s1afh1bslps3p90cm3j9au54l0crd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889759666168-9i0vrlirap6gf07qt97ehtqvbgfbj610.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfCAzq524hVU2edVmSJ-tle_j6M70xYTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889759666168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.demandium.user</string>
	<key>PROJECT_ID</key>
	<string>demancms</string>
	<key>STORAGE_BUCKET</key>
	<string>demancms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889759666168:ios:74c832724d6d51e884d00d</string>
</dict>
</plist>